.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

/* Site */

body {
    padding: 0 !important;
    font-family: Arial;
}

#container {
    margin: 20px;
}

.logo {
    margin: 0;
    display: block;
    width: 128px;
    height: 128px;
    background: url(/images/logo.png) no-repeat;
}

#menu {
    margin: 0 0 20px;
}

#menu ul {
    padding: 0;
    margin: 20px 0;
}

#menu ul li {
    float: left;
    text-align: center;
    height: 20px;
    line-height: 20px;
    list-style: none;
}

#menu ul li a {
    padding: 0 20px;
    display: block;
    background: #ccc;
    color: #333;
}

#menu ul li a:hover {
    background: #eae1e1;
}

#menu ul > li.active > a {
    background: #999;
    color: #000;
}

#menu ul.sub-menu {
    margin: 0;
    padding: 0;
    border-top: 1px solid #fff;
}

#menu ul.sub-menu li.active a {
    background: #d9cece;
    color: #000;
}

h1 {
    clear: both;
}

.sf_admin_filter {
    width: 220px;
    margin: 0 50px 0 0;
}

.sf_admin_filter select {
    width: 100%;
}

#sf_admin_container .all-products-list a {
    text-decoration: underline;
}

#sf_admin_container .sf_admin_filter td {
    display: block;
    padding: 5px;
    border: none;
}

#sf_admin_container  .sf_admin_filter label {
    font-weight: bold !important;
}

.sf_admin_form {
    width: 400px;
}

#sf_admin_container .sf_admin_form input[type="text"],
#sf_admin_container .sf_admin_form input[type="email"],
#sf_admin_container .sf_admin_form textarea,
.sf_admin_filter input[type="text"] {
    padding: 4px;
    margin-bottom: 9px;
    font-size: 13px;
    line-height: 18px;
    color: #555555;
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
}

#sf_admin_container .sf_admin_form input[type="text"],
#sf_admin_container .sf_admin_form input[type="email"],
#sf_admin_container .sf_admin_form textarea,
#sf_admin_container .sf_admin_form select,
#sf_admin_container .sf_admin_filter input[type="text"],
#sf_admin_container .sf_admin_filter select {
    width: 210px;
}

#sf_admin_container .sf_admin_form textarea {
    height: 150px;
}

#sf_admin_container .sf_admin_form input:focus,
#sf_admin_container .sf_admin_form textarea:focus,
.sf_admin_filter input[type="text"]:focus {
    border-color: rgba(82, 168, 236, 0.8);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0;
    outline: thin dotted \9;
    /* IE6-8 */
}