.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

/* Site */

body {
    padding: 0 !important;
}

#container {
    margin: 20px;
}

#container h1 {
    margin: 0;
}

.logo {
    display: block;
    width: 128px;
    height: 128px;
    background: url(/images/logo.png) no-repeat;
}

#menu {
    margin: 0 0 20px;
}

#menu ul {
    padding: 0;
    margin: 20px 0;
}

#menu ul li {
    float: left;
    text-align: center;
    height: 20px;
    line-height: 20px;
    list-style: none;
}

#menu ul li a {
    padding: 0 20px;
    display: block;
    background: #ccc;
    color: #333;
}

#menu ul li a:hover {
    background: #eae1e1;
}

#menu ul > li.active > a {
    background: #999;
    color: #000;
}

#menu ul.sub-menu {
    margin: 0;
    padding: 0;
    border-top: 1px solid #fff;
}

#menu ul.sub-menu li.active a {
    background: #d9cece;
    color: #000;
}

h1 {
    clear: both;
}

.sf_admin_filter {
    width: 220px;
    margin: 0 50px 0 0;
}

.sf_admin_filter select {
    width: 100%;
}

#sf_admin_container .all-products-list a {
    text-decoration: underline;
}

#sf_admin_container .sf_admin_filter td {
    display: block;
    padding: 5px;
    border: none;
}

#sf_admin_container  .sf_admin_filter label {
    font-weight: bold;
}